/* RESET */
@import url(http://reset5.googlecode.com/hg/reset.min.css);

/* FUENTE */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

	*{
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		color: #303030;
	}

	body{
		background-color: #B5B5B5;
	}

	article{
		float: left;
		width: 30%;
		margin: 1em;
		background-color: #fff;
		box-shadow: 0px 0px 5px #888888;
	}

	article h1{
		background-color: #CDDC39;
		padding: 1em;
		font-size: 1.2em;
		font-weight: bolder;
		color: #fff;
		box-shadow: 0px 0px 5px #888888;
	}

	article h2{		
		padding: 1em;
		font-size: 1.2em;
		font-weight: bolder;
	}

	article form{
		padding: 1em;
		text-align: center;
	}

	article form select, input{
		width: 95%;
		margin: 10px;
	}

	article form input{
		background-color: #03A9F4;		
		border: none;
		width: 60%;
		color: #fff;
		font-size: 22px;
		text-transform: uppercase;
	}

	article form input:hover{
		background-color: #00BCD4;
		cursor: pointer;
		
	}